img {
	width: 100%;
	height: 100%;
}
.menu-mobile {
	background: #ff9c5a;

	padding:0;

}

.ant-drawer-body {
	padding: 0;	background: #ff9c5a;
}

li.ant-menu-item.ant-menu-item-only-child:nth-last-child(1) {
	background: white;
}


.menu-mobile > li:hover {
		background: rgb(218, 132, 132);
}


.ant-modal-content {
	border-radius: 15px;
}

.cl-yellow {
	color: #dd9c3c;
}